{% extends 'admin/tvshow_home.html' %}
{% block body %}



    <style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

{#.container {#}
{#  padding: 16px;#}
{#}#}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>



<form  action="/tvshow_app/admin_change_password_post/" method="post">
{% csrf_token %}
  <div class="container">

          <div class="row">
  <div class="mx-auto col-12">
<h1 class="text-center my-3" >CHANGE PASSWORD</h1>
      <hr>

    <label for="uname"><b>Old Password</b></label>
    <input type="text" placeholder="Enter Old Password" name="old_password" required class="text-center">

    <label for="psw"><b>New Password</b></label>
    <input type="password" placeholder="Enter New Password" name="new_password" required class="text-center">
      <label for="psw"><b>Confirm Password</b></label>
    <input type="password" placeholder="Enter Confirm Password" name="con_password" required class="text-center">

    <button type="submit">submit</button>
 </div>



</form>
</body>
</div></div></div>
{% endblock %}