{% extends 'admin/tvshow_home.html' %}
{% block body %}
    <div class="container">
<br>
<br>
<table class="table table-bordered">
    <tr>
        <th>Sno</th>
        <th>Date</th>
        <th>From</th>

        <th>Review</th>

    </tr>
    {% for i in var %}
    <tr>
        <td width="50px">{{ forloop.counter }}</td>
         <td width="120px">{{ i.date }}</td>
        <td >{{ i.USER.name }}</td>

        <td>{{ i.review }}</td>

    </tr>
    {% endfor %}
</table>
  </div>


{% endblock %}