{% extends 'user/user_home_index.html' %}
{% block body %}
    <table class="table">
    <form action="/tvshow_app/sent_complaint_post/" method="post">
    {% csrf_token %}
   <div class="container p-3 my-3">
         <div class="col">

             <input type="hidden" value="{{ id }}" name="rid">
             <textarea name="complaint" placeholder="Enter complaint here" class="form-control" required rows="5" cols="200"></textarea>
         <input type="submit" class="form-control my-2 btn btn-success" value="submit">
         </div>
   </div>





</form>
    </table>
{% endblock %}










