{% extends 'user/user_home_index.html' %}
{% block body %}
    <div class="row">
  <div class="mx-auto col-10 col-md-8 col-lg-6 my-3">
    <table border="1px" class="table">

    <tr>
        <th class="text-dark bg-light">Sl no</th>
    <th class="text-dark bg-light">Review</th>
    </tr>
    {% for i in var %}
    <tr>
      <td class="text-light bg-dark">{{ forloop.counter }}</td>
   <td class="text-light bg-dark">{{ i.review }}</td>
    </tr>
    {% endfor %}
    </table>
  </div></div>
{% endblock %}